
<!-- Table is being used for displaying the weather details according to the user input-->
<div *ngIf="weather.default" class="today">
    <table>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Temp</th>
            <th>Humidity</th>
        </tr>
        <tr class="tdata">
            <td>{{location.name}}</td>
            <td>{{location.country}}</td>
            <td>{{weatherAllData[weather.def].main.temp}}</td>   <!--value of weather.def variable will be keep changing according to the need of user .-->
            <td>{{weatherAllData[weather.def].main.humidity}}</td>
        </tr>

</table>
</div>

