<!DOCTYPE html>
<head>
  <title>Chatbot</title>
</head>
  <body>
  <div class="container">
    <h4>QuickBuddy|<b>Chatbot</b></h4>
    <div class="user">
       <p *ngFor="let j of userHistory"> You : <b>{{j}}</b></p>
    </div>
    <br>
    <br>
    <div class="bot"> 
      <p *ngFor="let i of chatBotHistory">chatbot:- <b>{{i}}</b></p><br>
      <div *ngIf="answer">
        <app-weather></app-weather>
      </div>
    </div>
    <br>
      <div class="main"> 
       <form class="ep" #form="ngForm" (ngSubmit)="getVal(form.value)">
        <input style="width: 180px;" type="text" name="response" ngModel>
        <button class="btn" type="submit" >Send</button>
      </form>
     </div>
     </div>   
          


